{{/* 关键CSS内联 - 首屏必需样式 */}}
{{ $critical := resources.Get "scss/critical.scss" | toCSS | minify }}
<style>
{{ $critical.Content | safeCSS }}
</style>

{{/* 完整CSS异步加载 - 非阻塞 */}}
{{ $sass := resources.Get "scss/style.scss" }}
{{ $style := $sass | toCSS | minify | resources.Fingerprint "sha256" }}

{{/* Preload CSS - 提升优先级 */}}
<link rel="preload" href="{{ $style.RelPermalink }}" as="style" onload="this.onload=null;this.rel='stylesheet'">

{{/* Noscript fallback */}}
<noscript>
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
</noscript>

{{/* Polyfill for older browsers */}}
<script>
!function(e){"use strict";var t=function(t,n,r){function o(e){return i.body?e():void setTimeout(function(){o(e)})}function a(){d.addEventListener&&d.removeEventListener("load",a),d.media=r||"all"}var l,i=e.document,d=i.createElement("link");if(n)l=n;else{var s=(i.body||i.getElementsByTagName("head")[0]).childNodes;l=s[s.length-1]}var u=i.styleSheets;d.rel="stylesheet",d.href=t,d.media="only x",o(function(){l.parentNode.insertBefore(d,n?l:l.nextSibling)});var f=function(e){for(var t=d.href,n=u.length;n--;)if(u[n].href===t)return e();setTimeout(function(){f(e)})};return d.addEventListener&&d.addEventListener("load",a),d.onloadcssdefined=f,f(a),d};"undefined"!=typeof exports?exports.loadCSS=t:e.loadCSS=t}("undefined"!=typeof global?global:this);
</script>
