/*
*   Style: custom
*   Based on user's requested color scheme
*/

$color: #ffffff;
$background-color: #1e1e1e;
$error-color: #f48771;
$keyword-color: #00f0b5;
$text-color: $color;
$name-color: #ffffff;
$literal-color: #ce9178;

@import "common.scss";
